html, body {

	min-height: 1750px;
	min-width: 1122px;
	margin: 0;
	padding: 0;
}
body {
min-width:960px;
font-size:14px;
font-weight:bold;
line-height:24px;
color: #fff;
font-family:"PT Sans Narrow", "Arial", sans-serif;
text-transform: uppercase;
background: #000 url('../img/bg.jpg') no-repeat center top;

}
/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-fb {
    width: 12px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-icon-inst {
    width: 21px;
    height: 21px;
    background-position: -27px -5px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -27px -36px;
}

.sprite-icon-vk {
    width: 25px;
    height: 16px;
    background-position: -58px -5px;
}

.sprite-icon_checkbox {
    width: 12px;
    height: 12px;
    background-position: -58px -31px;
}
*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.main-header {
	margin-bottom: 60px;
	color: #fff; 
	background-color: #000;
}
.main-menu {
	width: 780px;
	float: left;
	min-height: 70px;
	margin: 0;
}
.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none; 
	font-size: 0;
	border: 0;
}
.main-menu li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
.main-menu a {
	display: block;
	padding: 25px 20px;
	color: #fff;
	text-decoration: none;
}
.main-menu a:hover {
	background: #242424;
}
.user-block {
	max-width: 140px;
	float: right;
}
.login {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	padding: 25px 20px;
	padding-left: 50px;
	vertical-align: top;
	color: #fff;
	text-decoration: none;
}
.login:hover {
	background: #242424;
}
.login::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 18px;
	background: url('../img/sprite.png') no-repeat;
	background-position: -27px -36px;
}
.login:hover::before {
	opacity: 0.5;
}
.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px; 
}
.index-logo img {
	width: 368px;
	height: 204px;
}
.features {
	margin-bottom: 80px;
}
.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	min-height: 175px;
	text-align: center;
}
.features-item:last-child {
	margin-right: 0;
}
.features-name {
	position: relative;
	display: block;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 30px;
	padding-bottom: 35px;
}
.feature-item p {
	margin: 10px;
	margin-bottom: 0;
}
.features-name::after {
content: "";
position: absolute;
bottom:0;
left:50%;
display: block;
width: 20px;
height: 20px;
margin-left: -10px;
background-color: #fff;
transform: rotate(45deg);
}
.content {
	padding: 50px 80px;
	margin-bottom: 35px;
	background-color: #f8f5f2;
	color:#000;
	background: url("../img/shadow.png") center no-repeat, #f8f5f2 url("../img/content-bg.png");
}
.content-left {
	float: left;
	width: 380px;
	min-height: 330px;
}
.content-right {
	float: right;
	width: 300px;
	min-height: 330px;
}
.content-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}
.content p {
	margin: 0;
	margin-bottom: 25px;
}
.news {
	margin:0;
	padding: 0;
	padding-right: 25px;
	list-style: none;
}
.news li {
	margin-bottom: 25px;
}
.news p {
	margin-bottom: 0;
}
.news time {
	text-transform: none;
}
.btn {
	display: inline-block;
	padding: 10px 33px;
	margin-right: 16px;
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #000;
	border: none;
	cursor: pointer; 
}
.btn:hover, .btn:active {
	background-color: #663d15;
}
.btn.disabled, .btn:disabled {
	cursor: default;
	opacity: 0.5;
}
.btn.disabled:hover, .btn:disabled:hover {
	background-color: #000;
}
.gallery {
	position: relative;
	height: 260px;
}
.gallery-content {
	height: 164px;
	margin: 0;
	background-color: #ccc;
	border: 7px solid #fff;
}
.gallery-content img {
	width: 286px;
	height: 164px;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}
.btn-gallery-prev {
	left: 0;
}
.btn-gallery-next {
	right: 0;
}
.application-form input {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	width: 106px;
	padding: 7px 15px;
	font:inherit;
	text-transform: uppercase;
	color:#000;
	background-color: #f9f6f3;
	border: 2px solid #000;
}
.application-form input:nth-child(2n) {
	margin-right: 0;
}
.application-form .btn {
	clear: both;
	width:100%;
}
.application-form input:focus {
	background-color: #663d15;
}
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	color: #fff;
	background-color: #252525;
}
.footer-contacts {
	float: left;
	width: 320px;
	min-height: 90px;
	margin-right: 60px;
}
.footer-contacts a {
	color: #fff;
}
.footer-contacts a:hover {
	text-decoration: none;
}
.footer-social {
float: left;
width: 180px;
min-height: 90px;
text-align: center;
}
.footer-social p {
	margin: 0;
	margin-bottom: 15px;
}
.social-btn {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 2px;
	font-size: 0;
	text-decoration: none;
	vertical-align: top;
	background: #000000 url("../img/sprite.png") no-repeat center;
}
.social-btn:hover {
opacity: 0.5;
}
.social-btn-v {
    background-position: -50px 8px;
}
.social-btn-f {
   background-position: 12px 5px;
}

.social-btn-i {
    background-position: -17px 5px;
}
.footer-copyright {
	float: right;
	max-width: 180px;
	min-height: 90px;
}
.footer-copyright p {
	text-align: center;
	margin: 0;
	margin-bottom: 15px;
}
.footer-copyright .btn {
	margin-right:0;
}
.footer-copyright .btn:hover {
	color:#000;
	background-color: #fff;
}