html, body {

	height: 100%;
	min-width: 1122px;
	margin: 0;
	padding: 0;
}
body {
min-width:960px;
font-size:14px;
font-weight:bold;
line-height:24px;
color: #fff;
font-family:"PT Sans Narrow", "Arial", sans-serif;
text-transform: uppercase;
background: #000 url('../img/bg.jpg') no-repeat center top;

}
.inner-page {
	color: #000;
	background: #f8f3f0 url("../img/content-bg1.png") repeat;
}

.inner-page .main-header {
	margin-bottom: 55px;
}

/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-fb {
    width: 12px;
    height: 22px;
    background-position: -20px -20px;
}

.sprite-icon-inst {
    width: 21px;
    height: 21px;
    background-position: -72px -20px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -133px -20px;
}

.sprite-icon-vk {
    width: 25px;
    height: 16px;
    background-position: -191px -20px;
}

.sprite-icon_checkbox {
    width: 12px;
    height: 12px;
    background-position: -256px -20px;
}

.sprite-login {
    width: 15px;
    height: 15px;
    background-position: -308px -20px;
}

.sprite-password {
    width: 15px;
    height: 17px;
    background-position: -363px -20px;
}

*/
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.main-header {
	margin-bottom: 60px;
	color: #fff; 
	background-color: #000;
}
.main-menu {
	width: 780px;
	float: left;
	min-height: 70px;
	margin: 0;
}
.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none; 
	font-size: 0;
	border: 0;
}
.main-menu li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
.main-menu a {
	display: block;
	padding: 25px 20px;
	color: #fff;
	text-decoration: none;
}
.main-menu a:hover {
	background: #242424;
}
.main-menu .active {
	position: relative;
	background:none;
}
.main-menu .active a:hover {
	background: none;
}
.main-menu .active::after {
	content: "";
	position: absolute;
	height: 5px;
	bottom: 0;
	right: 20px;
	left: 20px;
	background: #fff;
}
.main-menu .inner-logo {
	float: left;
	width: 111px;
	height: 20px;
	padding-top: 22px;
}
.main-menu .inner-logo:hover {
	background: none;
}
.user-block {
	max-width: 140px;
	float: right;
}
.login {
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	padding: 25px 20px;
	padding-left: 50px;
	vertical-align: top;
	color: #fff;
	text-decoration: none;
}
.login:hover {
	background: #242424;
}
.login::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 18px;
	background: url('../img/sprite.png') no-repeat;
	background-position: -133px -20px;
}
.login:hover::before {
	opacity: 0.5;
}
.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px; 
}
.index-logo img {
	width: 368px;
	height: 204px;
}
.features {
	margin-bottom: 80px;
}
.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	min-height: 175px;
	text-align: center;
}
.features-item:last-child {
	margin-right: 0;
}
.features-name {
	position: relative;
	display: block;
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 30px;
	padding-bottom: 35px;
}
.feature-item p {
	margin: 10px;
	margin-bottom: 0;
}
.features-name::after {
	content: "";
	position: absolute;
	bottom:0;
	left:50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color: #fff;
	transform: rotate(45deg);
}
.content {
	padding: 50px 80px;
	margin-bottom: 35px;
	background-color: #f8f5f2;
	color:#000;
	background: url("../img/shadow.png") center no-repeat, #f8f5f2 url("../img/content-bg.png");
}
.content-left {
	float: left;
	width: 380px;
	min-height: 330px;
}
.content-right {
	float: right;
	width: 300px;
	min-height: 330px;
}
.content-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}
.content p {
	margin: 0;
	margin-bottom: 25px;
}
.news {
	margin:0;
	padding: 0;
	padding-right: 25px;
	list-style: none;
}
.news li {
	margin-bottom: 25px;
}
.news p {
	margin-bottom: 0;
}
.news time {
	text-transform: none;
}
.btn {
	display: inline-block;
	padding: 10px 33px;
	margin-right: 16px;
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #000;
	border: none;
	cursor: pointer; 
}
.btn:hover, .btn:active {
	background-color: #663d15;
}
.btn.disabled, .btn:disabled {
	cursor: default;
	opacity: 0.5;
}
.btn.disabled:hover, .btn:disabled:hover {
	background-color: #000;
}
.gallery {
	position: relative;
	height: 260px;
}
.gallery-content {
	height: 164px;
	margin: 0;
	background-color: #ccc;
	border: 7px solid #fff;
}
.gallery-content img {
	width: 286px;
	height: 164px;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}
.btn-gallery-prev {
	left: 0;
}
.btn-gallery-next {
	right: 0;
}
.application-form input {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	width: 106px;
	padding: 7px 15px;
	font:inherit;
	text-transform: uppercase;
	color:#000;
	background-color: #f9f6f3;
	border: 2px solid #000;
}
.application-form input:nth-child(2n) {
	margin-right: 0;
}
.application-form .btn {
	clear: both;
	width:100%;
}
.application-form input:focus {
	background-color: #663d15;
}
/* CSS for inner-pages*/
/*price-list*/
.inner-page-title {
	margin: 0 auto;
	margin-bottom: 55px;
}
.inner-page-title h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 30px;
	line-height: 42px;
}
.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}
.breadcrumbs li {
	position: relative;
	display: inline;
	padding-right: 40px;
}
.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 4px;
	right: 18px;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
	background-color: #000;
}
.breadcrumbs a {
	color: #000;
	text-decoration: none;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.breadcrumbs .here {
	color: #aba9a7;
}
.breadcrumbs .here::after {
display: none;
}
.inner-content {
	margin-bottom: 75px;
}
.inner-content h2 {
	margin-top:60px;
	margin-bottom: 30px;
	font-size: 24px;
	line-height: 30px;
}
.inner-content p {
	margin: 14px 0;
}
.inner-content table {
	border-collapse: collapse;
}
.inner-content td {
	padding: 10px 15px;
	border: 2px solid #000;
}
.big-header {
	text-align: center;
	margin-top: 55px;
	margin-bottom: 65px;
}
.big-header h2 {
	position: relative;
	display: inline-block;
	margin:0;
	padding: 0 25px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	z-index: 2;
	background: #f8f5f2 url("../img/content-bg1.png"); 
}
.big-header::after {
	content: "";
	position: relative;
	top: -25px;
	z-index: 1;
	display: block;
	border:2px solid #000;
}
.custom-list-1 {
	margin: 14px 0;
	padding: 0;
	list-style: none;
}
.custom-list-1 li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
}
.custom-list-1 li::before {
	content: "";
	position: absolute;
	top: 8px;
	left:0;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);
	background-color: #000;
}
.price-table {
	width: 100%;
}
.price-table td {
	width: 50%;
}
.price-table td:last-child {
	text-align: center;
}
.inner-columns {
	margin:60px 0;
}
.inner-column-left, .inner-column-right {
	width: 460px;
}
.inner-column-left {
	float: left;
}
.inner-column-right {
	float: right;
}
.inner-column-left *:first-child, .inner-column-right *:first-child {
	margin-top: 0;
}
.inner-column-left *:last-child, .inner-column-right *:last-child {
	margin-bottom: 0;
}
.short-right {
	padding-right: 80px;
}

/*pop-up window*/
.modal-content {
	display: none;
	position: absolute;
	top: 120px;
	left: 50%;
	margin-left: -230px;
	width: 300px;
	padding: 50px 80px;
	color: #000;
	background: #f8f3f0 url("../img/content-bg1.png");
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal-content-close {
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}
.modal-content-close::before, .modal-content-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left:2px;
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
}
.modal-content-close::before {
	transform: rotate(45deg);
}
.modal-content-close::after {
	transform: rotate(-45deg);
}
.modal-content h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}
.modal-content p {
	margin: 0;
	margin-bottom: 14px;
}
.modal-content .login-form {
	margin-top: 30px;
	margin-bottom: 10px;
}
.login-form input[type="text"], .login-form input[type="password"] {
	width: 241px;
	margin:0;
	margin-bottom: 10px;
	padding: 10px 15px;
	padding-right: 40px;
	font:inherit;
	text-transform: inherit;
	background-color: #f9f6f3;
	border:1px solid #000;
}
.login-form input:focus {
	border-color: #663d15;
}

.login-form input.icon-login {
	background: url("../img/login.png") no-repeat;
	
	background-position: 270px 50%;
}
.login-form input.icon-password {
	background: url("../img/password.png") no-repeat;
	background-position: 270px 50%;
}

.login-form .restore {
	float: right;
	color: #000;
}
.login-form .btn {
	width: 100%;
	margin-top: 15px;
}
.login-checkbox input[type="checkbox"] {
	display: none;
}
.login-checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
.login-checkbox:hover {
	color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: -3px;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid #000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before, .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;
	background-color: #000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);
}
/*map*/
.modal-content-map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -280px;
	margin-left: -390px;
	width:766px;
	height:561px;
	z-index: 20;
	background: #e9e5dc url("../img/map.png");
	border: 7px solid white;
	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}
.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

/*shop-page*/


/*item-page*/


/*footer*/
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	color: #fff;
	background-color: #252525;
}
.footer-contacts {
	float: left;
	width: 320px;
	min-height: 90px;
	margin-right: 60px;
}
.footer-contacts a {
	color: #fff;
}
.footer-contacts a:hover {
	text-decoration: none;
}
.footer-social {
float: left;
width: 180px;
min-height: 90px;
text-align: center;
}
.footer-social p {
	margin: 0;
	margin-bottom: 15px;
}
.social-btn {
	display: inline-block;
	width: 38px;
	height: 38px;
	margin: 0 2px;
	font-size: 0;
	text-decoration: none;
	vertical-align: top;
	background: #000000 url("../img/sprite.png") no-repeat center;
}
.social-btn:hover {
opacity: 0.5;
}
.social-btn-v {
    background-position: -187px -10px;
}
.social-btn-f {
   background-position: -10px -10px;
}

.social-btn-i {
     background-position: -62px -10px;
}
.footer-copyright {
	float: right;
	max-width: 180px;
	min-height: 90px;
}
.footer-copyright p {
	text-align: center;
	margin: 0;
	margin-bottom: 15px;
}
.footer-copyright .btn {
	margin-right:0;
}
.footer-copyright .btn:hover {
	color:#000;
	background-color: #fff;
}