html, body {

	min-height: 1750px;
	min-width: 1122px;
	margin: 0;
	padding: 0;
}
body {
min-width:960px;
font-size:14px;
font-weight:700;
line-height:24px;
font-family:"PT Sans Narrow", "Arial", sans-serif;
text-transform: uppercase;
}
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-fb {
    width: 12px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-icon-inst {
    width: 21px;
    height: 21px;
    background-position: -27px -5px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -27px -36px;
}

.sprite-icon-vk {
    width: 25px;
    height: 16px;
    background-position: -58px -5px;
}

.sprite-icon_checkbox {
    width: 12px;
    height: 12px;
    background-position: -58px -31px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	min-height: 70px;
}
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.main-menu {
	width: 780px;
	float: left;
}
.user-block {
	width: 140px;
	float: right;
	min-height: 70px;
}
.index-logo {

	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px; 
}
.features {
	margin-bottom: 80px;
}
.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
	min-height: 175px;
}
.features-item:last-child {
	margin-right: 0;
}
.content {
	padding: 50px 80px;
}
.content-left {
	float: left;
	width: 380px;
	min-height: 330px;
}
.content-right {
	float: right;
	width: 300px;
	min-height: 330px;
}
.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}
.footer-contacts {
	float: left;
	width: 320px;
	min-height: 90px;
	margin-right: 60px;
}
.footer-social {
float: left;
width: 180px;
min-height: 90px;
}
.footer-copyright {
	float: right;
	width: 180px;
	min-height: 90px;
}